//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 13 11:54:36 2016
//! **************************************************************************

SCHEMATIC START;
COMP "DB<3>" LOCATE = SITE "M15" LEVEL 1;
COMP "alarm" LOCATE = SITE "F9" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "music" LOCATE = SITE "D11" LEVEL 1;
COMP "SF_CE0" LOCATE = SITE "D16" LEVEL 1;
COMP "RS" LOCATE = SITE "L18" LEVEL 1;
COMP "RW" LOCATE = SITE "L17" LEVEL 1;
COMP "lights" LOCATE = SITE "E9" LEVEL 1;
COMP "E" LOCATE = SITE "M18" LEVEL 1;
COMP "H" LOCATE = SITE "N17" LEVEL 1;
COMP "M" LOCATE = SITE "H18" LEVEL 1;
COMP "rst" LOCATE = SITE "K17" LEVEL 1;
PIN rst_pin<0> = BEL "rst" PINNAME PAD;
PIN "rst_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "DB<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "DB<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "DB<2>" LOCATE = SITE "P17" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

